<div class="row animated fadeIn fast">
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Usuarios</h4>

                <div class="alert alert-info text-center" *ngIf="usuarios.length === 0">
                  <p class="mb-0">No hay usuarios</p>
                </div>

                <div class="table-responsive" *ngIf="usuarios.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let usuario of usuarios">
                                <td class="text-center"><img [src]="usuario.img | imagen:'usuarios'" 
                                    class="avatar cursor" 
                                    alt="Profile avatar">
                                </td>
                                <td>{{usuario.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Medicos</h4>

                <div class="alert alert-info text-center" *ngIf="medicos.length === 0">
                  <p class="mb-0">No hay medicos</p>
                </div>

                <div class="table-responsive" *ngIf="medicos.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let medico of medicos">
                                <td class="text-center"><img [src]="medico.img | imagen:'medicos'" 
                                    class="avatar cursor" 
                                    alt="Profile avatar">
                                </td>
                                <td><a [routerLink]="['/dashboard/medicos', medico._id]">{{medico.nombre}}</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Hospitales</h4>

                <div class="alert alert-info text-center" *ngIf="hospitales.length === 0">
                  <p class="mb-0">No hay hospitales</p>
                </div>

                <div class="table-responsive" *ngIf="hospitales.length > 0">
                    <table class="table">
                        <thead>
                            <tr>
                                <th class="w100">Avatar</th>
                                <th>Nombre</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let hospital of hospitales">
                                <td class="text-center"><img [src]="hospital.img | imagen:'hospitales'" 
                                    class="avatar cursor" 
                                    alt="Profile avatar">
                                </td>
                                <td>{{hospital.nombre}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>